# Exploring a database

Let's practice on Pandas. Download the dataset `chipotle.csv` from JULIE and upload it to your notebook.

<Note type="note">

You can use whatever suits you best : Jupyter Lab locally, [Google Colab](https://colab.research.google.com/?hl=fr) or you can also subscribe to [JULIE's workstations](https://app.jedha.co/workspace) in which Jupyter and all the tools needed to do Data Science are installed.

</Note>

1. Import a library that allows to read data from a csv file

In [2]:
import pandas as pd

2. Import the dataset

In [4]:
df = pd.read_csv("chipotle.csv")

3. Look at the 10 first rows in the dataset

In [6]:
df.head(10)

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,1,Izze,[Clementine],$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,6,3,1,Side of Chips,NaN,$1.69
7,7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

4. What is the shape of the dataset ?

In [8]:
df.shape

(4622, 6)

5. Display all the columns of our dataset

In [14]:
df.columns

Index(['Unnamed: 0', 'order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

6. How many items were ordered from Chipotle in total?

In [133]:
df["quantity"].sum()

4972

7. What is the most ordered item?

*Hint* 🤓
* Use `.groupby()` with a relevant aggregation function
* Then you can use `.sort_values()` to sort the results

In [57]:
display(df.groupby("item_name")["quantity"].sum().sort_values(ascending=False))

item_name
Chicken Bowl                             761
Chicken Burrito                          591
Chips and Guacamole                      506
Steak Burrito                            386
Canned Soft Drink                        351
Chips                                    230
Steak Bowl                               221
Bottled Water                            211
Chips and Fresh Tomato Salsa             130
Canned Soda                              126
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Side of Chips                            110
Veggie Burrito                            97
Barbacoa Burrito                          91
Veggie Bowl                               87
Carnitas Bowl                             71
Barbacoa Bowl                             66
Carnitas Burrito                          60
Steak Soft Tacos                          56
6 Pack Soft Drink                         55
Chips and Tomatillo Red Chili Salsa       50
Chicken Crispy Tacos                      50
Chips and Tomatillo Green Chili Salsa     45
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        36
Chips and Tomatillo-Green Chili Salsa     33
Steak Salad Bowl                          31
Nantucket Nectar                          29
Chips and Tomatillo-Red Chili Salsa       25
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        23
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      8
Veggie Soft Tacos                          8
Burrito                                    6
Veggie Salad                               6
Carnitas Salad Bowl                        6
Bowl                                       4
Steak Salad                                4
Salad                                      2
Crispy Tacos                               2
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Name: quantity, dtype: int64

8. How much revenue has Chipotle made?
      
A. Convert item_price to a decimal number.
* Look at column ["item_price"], what do you see?
* Let's find a way to get that $ out of our way. Remember the `.str` submodule can help you 😉
* Let's now convert the series to float instead of string, by using `.astype('float')`.
        
B. Multiply the quantity sold by the price of the item.
    
C. Add it all up, how much do you find?

In [135]:
#df_price_nbr = float(df["item_price"].str.slice(start="1"))

df["item_price"] = df["item_price"].str.replace("$", "", regex=False).astype(float)
df["total_price"] = df["quantity"] * df["item_price_float"]
df.head(50)

display(df.groupby("item_name")["total_price"].sum().sort_values(ascending=False))

item_name
Chicken Bowl                             8044.63
Chicken Burrito                          6387.06
Steak Burrito                            4236.13
Steak Bowl                               2479.81
Chips and Guacamole                      2475.62
Chicken Salad Bowl                       1506.25
Chicken Soft Tacos                       1199.01
Chips and Fresh Tomato Salsa             1033.96
Veggie Burrito                           1002.27
Veggie Bowl                               901.95
Barbacoa Burrito                          894.75
Carnitas Bowl                             830.71
Barbacoa Bowl                             672.36
Bottled Water                             649.18
Carnitas Burrito                          616.33
Canned Soft Drink                         603.75
Chips                                     580.34
Steak Soft Tacos                          554.55
Chicken Crispy Tacos                      524.11
Steak Salad Bowl                          391.15
Carnitas Soft Tacos                       375.94
Steak Crispy Tacos                        375.32
6 Pack Soft Drink                         369.93
Side of Chips                             290.68
Barbacoa Soft Tacos                       250.46
Canned Soda                               191.84
Veggie Salad Bowl                         182.50
Chips and Tomatillo Red Chili Salsa       159.30
Chips and Tomatillo Green Chili Salsa     144.55
Barbacoa Crispy Tacos                     138.71
Nantucket Nectar                          111.87
Barbacoa Salad Bowl                       106.40
Carnitas Crispy Tacos                      95.94
Chips and Tomatillo-Red Chili Salsa        93.21
Veggie Soft Tacos                          90.94
Chips and Tomatillo-Green Chili Salsa      88.43
Chicken Salad                              81.09
Bowl                                       74.00
Chips and Roasted Chili Corn Salsa         73.75
Izze                                       67.80
Carnitas Salad Bowl                        66.34
Veggie Salad                               50.94
Burrito                                    44.40
Chips and Roasted Chili-Corn Salsa         43.02
Steak Salad                                35.66
Crispy Tacos                               14.80
Salad                                      14.80
Carnitas Salad                              8.99
Veggie Crispy Tacos                         8.49
Chips and Mild Fresh Tomato Salsa           3.00
Name: total_price, dtype: float64

In [117]:
df["total_price"].sum()

39237.02

9. What is the average revenue per order?

In [127]:
df["total_price"].mean()

8.48918649935093

In [129]:
revenu_par_commande = df.groupby("order_id")["total_price"].sum()
revenu_moyen = revenu_par_commande.mean()

print(revenu_moyen)

21.39423118865867

In [131]:
df.groupby("order_id")["total_price"].sum()

order_id
1       11.56
2       33.96
3       12.67
4       21.00
5       13.70
        ...
1830    23.00
1831    12.90
1832    13.20
1833    23.50
1834    28.75
Name: total_price, Length: 1834, dtype: float64